header {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: light-blue;
}

nav {
  margin: 0;
  padding: 20px 0;
}

nav li {
  display: inline-block;
  width: 80px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
}

body {
  background-image: url('batman.png');
  background-color: blue;
}
 
.contact {
 position: fixed;
 text-align: center;
}
